@font-face {
    font-family: minecraft title; /*The name you choose goes here*/
    src: url(../font/minecraft-evenings-font/MinecraftEvenings-lgvPd.ttf);
}

@font-face {
    font-family: minecraft font; /*The name you choose goes here*/
    src: url(../font/minecraft-font/MinecraftRegular-Bmg3.otf);
}

@font-face {
    font-family: minecraft font italic; /*The name you choose goes here*/
    src: url(../font/minecraft-font/MinecraftItalic-R8Mo.otf);
}

@font-face {
    font-family: minecraft font bold; /*The name you choose goes here*/
    src: url(../font/minecraft-font/MinecraftBold-nMK1.otf);
}

@font-face {
    font-family: minecraft font bold italic; /*The name you choose goes here*/
    src: url(../font/minecraft-font/MinecraftBoldItalic-1y1e.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/minecraft\ dirt\ background.jpg);
    display: flex;
}

.popup {
    position: fixed;
    display: flex;
}

.userIdPopup {
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    background-color: #ffffff;
}

.userIconSelection {
    height: 50vh;
    width: 100vw;
    top: 25vh;
    left: 0;
    background-image: url(../images/minecraft\ old\ world\ generation\ ultra\ wide.jpg);
    background-size: cover;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.userIcon {
    background-color: #ffffff;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIcon img{
    height: 75%;
}

.userIdPopup p {
    font-size: 2em;
    font-family: 'minecraft title';
}