@font-face {
    font-family: minecraft title;
    src: url(../font/minecraft-evenings-font/MinecraftEvenings-lgvPd.ttf);
}

@font-face {
    font-family: minecraft font;
    src: url(../font/minecraft-font/MinecraftRegular-Bmg3.otf);
}

@font-face {
    font-family: minecraft font italic;
    src: url(../font/minecraft-font/MinecraftItalic-R8Mo.otf);
}

@font-face {
    font-family: minecraft font bold;
    src: url(../font/minecraft-font/MinecraftBold-nMK1.otf);
}

@font-face {
    font-family: minecraft font bold italic;
    src: url(../font/minecraft-font/MinecraftBoldItalic-1y1e.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/minecraft\ dirt\ background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    display: flex;
}

.userIdPopup {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/diamond\ ore\ backgroung.webp);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.userIdPopup>div:last-child {
    backdrop-filter: blur(5px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userIconSelection {
    z-index: 1;
    height: 50vh;
    width: 100vw;
    top: 25vh;
    left: 0;
    background-image: url(../images/minecraft\ old\ world\ generation\ ultra\ wide.jpg);
    background-size: cover;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.userIcon, .userIconSelected, .playerIcon, .botIcon {
    height: 35%;
    background-color: #ffffff99;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIcon img, .userIconSelected img, .playerIcon img, .botIcon img {
    height: 75%;
}

.userIdPopup p {
    height: 30%;
    padding: 0 10%;
    font-size: 2.5em;
    font-family: 'minecraft title';
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.userIdPopup form {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.userIdPopup form label {
    font-size: 2em;
    font-family: 'minecraft font';
    color: #ffffff;
}

.userIdPopup form input {
    height: 20%;
    width: 100%;
    border-radius: 20px;
    font-size: 1em;
    display: flex;
}

.userIdPopup .submitButton {
    width: fit-content;
}

.submitButton {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
}



.shifumiMain {
    height: 90%;
    width: 90%;
    justify-self: center;
    align-self: center;
}

header {
    height: 5%;
    display: flex;
    justify-content: space-between;
}

header div {
    width: 25%;
    font-family: "minecraft font bold italic";
    color: #ffffff;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 10px;
}

header div:hover {
    color: #ff0000;
}

header div img {
    height: 1.5em;
    width: 1.5em;
}

header p {
    font-size: 2em;
    font-family: "minecraft font bold";
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: 25%;
    font-family: "minecraft title";
    display: flex;
    justify-content: end;
    background: linear-gradient(to right, #5867c8, #5867c8, #cedc2c);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

main {
    display: flex;
    height: 95%;
}

.userChoices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shifumiChoice {
    height: 200px;
    width: 200px;
    border: 10px solid #c13232;
    background-image: url(../images/white\ wool.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shifumiChoice img {
    height: 75%;
}

.vs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.vs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.vs p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "minecraft font";
    font-size: 2em;
}

.whosSuperior {
    color: #ffffff;
    font-family: "minecraft font";
    font-size: 10em;
}

.rules {
    display: none;
    flex-direction: column;
    background-color: #333333;
    padding: 10vh;
    border-radius: 100px;
    border: 10px solid #000000;
    font-family: "minecraft font";
    font-size: 2em;
}

.rules div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.rules div p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #ff0000;
    border-radius: 50px;
}

.rules>p {
    color: #ffffff;
}

.endScreen {
    padding: 5%;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.endScreen p {
    font-family: "minecraft title";
    font-size: 3em;
    color: #ffffff;
    background-color: #000000;
}

.win {
    background-image: url(../images/minecraft\ win\ background.webp);
    background-size: cover;
    background-position: center;
}

.loose {
    background-image: url(../images/minecraft\ death\ screen.png);
    background-size: cover;
    background-position: center;
}

.otherSubmitButton {
    font-family: "minecraft font";
    font-size: 2em;
    color: #ffffff;
    background-color: #000000;
    padding: 50px;
    border-radius: 25px;
}